name: Convert TXT to MRS
on:
  push:
    paths:
      - '**.txt'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download Mihomo Tool
        run: |
          # 1. 下载并直接解压到标准输出，然后重定向保存为 mihomo
          # 这样可以彻底避免解压后文件名对不上的问题
          curl -L https://github.com/MetaCubeX/mihomo/releases/download/v1.19.20/mihomo-linux-amd64-v2-v1.19.20.gz | gunzip > mihomo
          
          # 2. 赋予执行权限
          chmod +x mihomo
          
          # 验证文件是否存在（调试用）
          ls -l mihomo

      - name: Convert TXT to MRS
        run: |
          # 遍历所有文件夹寻找 txt
          find . -name "*.txt" | while read file; do
            if [ -f "$file" ]; then
              filename="${file%.*}"
              echo "正在转换: $file"
              # 调用本地的 ./mihomo 工具
              ./mihomo rule-set compile "$file" -o "${filename}.mrs"
            fi
          done

      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          
          # 添加所有新生成的 mrs
          git add **/*.mrs
          
          if git diff --staged --quiet; then
            echo "没有变化，跳过提交。"
          else
            git commit -m "Auto-convert TXT to MRS"
            git push
          fi
